# dependencies (bun install)
node_modules

# output
public/style.css
public/style-*.css
public/.asset-manifest.json

# dotenv environment variable files
.env

# sqlite
*.sqlite
*.sqlite-shm
*.sqlite-wal